[submodule "sadm"]
	path = ansible/sadm
	url = git@github.com:yerejm/sadm.git
[submodule "fifoci"]
	path = ansible/fifoci
	url = git@github.com:yerejm/fifoci.git
[submodule "homebrew"]
	path = ansible/homebrew
	url = https://github.com/Homebrew/install.git
