# Configuration variables for the Git changes detector

# Path to the current script
# Default: $(dirname "$0")
BASE=$(dirname "$0")

# Path where the HTML files for the last changes should be stored
# Default: /srv/http/changes
DEST={{ changes_web_location }}

# Path to the Git repository clone
# Default: $BASE/repository
REPO=$BASE/{{ changes_dolphin_location }}

# Number of revisions to check for changes
# Default: 100
NR_REV={{ changes_revision_count }}

# URL for linking to a changeset. Git commit hash is appended at the end
# Default: https://github.com/dolphin-emu/dolphin/commit/
URL={{ dolphin_repository }}/commit/

# Buildbot address and credentials
BUILDBOT_ADDR={{ buildmaster_web_host }}:{{ buildmaster_web_port }}
BUILDBOT_CREDS={{ webauth_user }}:{{ webauth_password }}

