Source: dolphin-emu-master
Section: unknown
Priority: optional
Maintainer: unknown <buildbot@ububuild>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.5
Homepage: http://www.dolphin-emu.org
#Vcs-Git: git://anonscm.debian.org/collab-maint/dolphin.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/dolphin.git;a=summary

Package: dolphin-emu-master
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: dolphin emulator
 dolphin emulator
